body {

  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 800px;
  
}
.container{
background: linear-gradient(0.25turn, #dfeef5, #73a0f5, #147cf3);
border-radius: 10px;
border-color: #032970;
}

h1 {
      font-size: 36px;
      text-align: center;
      padding: 5px;
      font-family: "new roman", sans-serif;
      color: #06376b;
    
}

h3 {
  margin: 20px 0;
  text-align: center;
}

.time {
  font-size: 30px;
}

input {
  margin: 10px 0;
}

button.search {
  margin-bottom: 5px;
}

.current-temp {
  font-weight: normal;
}

.conditions {
  float: right;
  margin-top: -100px;
}

.col {
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px 10px;
  text-align: center;
}
